.App {
  text-align: center;
}

.cold {
  color: blue;
}

.nice {
  color: black;
}

.warm {
  color: red;
}

.container {
  text-align: center;
}

.input-text,
.input-range {
  display: block;
  margin: 10px auto;
}
